webservices-training/Chapter2/src/gen_wsdl/doc.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#8c29a9a53251ff741fca1664a8221dc876b2eac8. -->
<xs:schema xmlns:tns="http://rpc_document.demo.wsdl.taggy.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://rpc_document.demo.wsdl.taggy.com/">

	<xs:element name="getTimeAsElapsed" type="tns:getTimeAsElapsed"></xs:element>

	<xs:element name="getTimeAsElapsedResponse" type="tns:getTimeAsElapsedResponse"></xs:element>

	<xs:element name="getTimeAsString" type="tns:getTimeAsString"></xs:element>

	<xs:element name="getTimeAsStringResponse" type="tns:getTimeAsStringResponse"></xs:element>

	<xs:complexType name="getTimeAsString">
		<xs:sequence></xs:sequence>
	</xs:complexType>

	<xs:complexType name="getTimeAsStringResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getTimeAsElapsed">
		<xs:sequence></xs:sequence>
	</xs:complexType>

	<xs:complexType name="getTimeAsElapsedResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:long"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>